{% extends 'base.html' %}

{% block header %}Register{% endblock %}
{% block content %}
  <form class="form_wrapper" action="" method="post">
    {% csrf_token %}
    {{ error }} <br>
    First name:
    <input class='add_button_wrapper' type="text" name="first_name" value=""> <br>
    Last name:
    <input class='add_button_wrapper' type="text" name="last_name" value=""> <br>
    Username:
    <input class='add_button_wrapper' type="text" name="username" value=""> <br>
    Password:
    <input class='add_button_wrapper' type="password" name="password" value=""> <br>
    Password again:
    <input class='add_button_wrapper' type="password" name="pass_again" value=""> <br>
    <input class='add_button_wrapper mdl-button mdl-js-button mdl-button--raised mdl-button--colored' type="submit" name="name" value="Register"> <br>
  </form>
{% endblock %}
